:not(input):not(textarea):not(button):not(a):not(.ace_content):not(.ace_scroller),
:not(input):not(textarea):not(button):not(a)::after,
:not(input):not(textarea):not(button):not(a)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

a:not([draggable=true]), img:not([draggable=true]) {
	-webkit-user-drag: none;
	user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}

.spinner {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	background: radial-gradient(farthest-side,#474bff 94%,#0000) top/14.1px 14.1px no-repeat,
				conic-gradient(#0000 30%,#474bff);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.1px),#000 0);
	animation: spinner-c7wet2 0.6s infinite linear;
}

@keyframes spinner-c7wet2 {
	100% {
		transform: rotate(1turn);
	}
}

.accordion-button:not(.collapsed) {
	color: #5e6e82;
}

/* Restore this value to default */
.table tfoot>tr>th:last-child, .table thead>tr>th:last-child, .table tr td:last-child, .table tr th:last-child {
	padding-right: 0.25rem;
}

.table {
	margin-bottom: 0.25rem;
}

.table.table-striped {
	--falcon-table-bg: var(--falcon-card-bg);
    --falcon-table-accent-bg: var(--falcon-card-bg);
}

.entry-fields>thead>tr>th, .entry-subfields>thead>tr>th {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	text-align: center;
}

.entry-fields>tfoot>tr>th:first-child, .entry-fields>thead>tr>th:first-child, .entry-fields>tbody>tr>td:first-child,
.entry-subfields>tfoot>tr>th:first-child, .entry-subfields>thead>tr>th:first-child, .entry-subfields>tbody>tr>td:first-child
{
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.entry-fields>tbody>tr>td:first-child, .entry-subfields>tbody>tr>td:first-child {
	text-align: right;
}

.entry-fields>tbody>tr>td.entry-field-value, .entry-subfields>tbody>tr>td.entry-field-value {
	width: 100%;
}

.entry-fields>tbody>tr>td:first-child, .entry-subfields>tbody>tr>td:first-child {
	vertical-align: middle;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.entry-field-value-real::-webkit-inner-spin-button, 
.entry-field-value-real::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.source-self {
	--falcon-input-bg: var(--falcon-table-success-bg);
	--falcon-input-color: var(--falcon-table-success-color);
	--falcon-input-border-color: var(--falcon-table-success-border-color);
}

.source-parent {
	--falcon-input-bg: var(--falcon-table-warning-bg);
	--falcon-input-color: var(--falcon-table-warning-color);
	--falcon-input-border-color: var(--falcon-table-warning-border-color);
}

.source-default {
	--falcon-input-bg: var(--falcon-table-primary-bg);
	--falcon-input-color: var(--falcon-table-primary-color);
	--falcon-input-border-color: var(--falcon-table-primary-border-color);
}

.source-self.is-invalid {
	--falcon-input-bg: var(--falcon-table-danger-bg);
	--falcon-input-color: var(--falcon-table-danger-color);
	--falcon-input-border-color: var(--falcon-table-danger-border-color);
}

.ace_editor {
	border-radius: 0.375rem
}

.ace_gutter {
	z-index: auto;
}
